.Background-Primary {
	background-color: $color-primary;
}

.Background-Accent {
	background-color: $color-accent;
}

.Background-WarmGrey {
	background-color: $hm-warm-grey;
}

.Background-LightGrey {
	background-color: $hm-light-grey;
}

.Background-DarkGrey {
	background-color: $hm-dark-grey;
}

.Background-Beige {
	background-color: $hm-beige;
}

.Background-MediumGrey {
	background-color: $hm-medium-grey;
}

.Background-Brown {
	background-color: $hm-brown;
}
