@font-face {
  font-family: korean;
  src: url(/fonts/Korean_Calligraphy.eot?#) format('eot'),
       url(/fonts/Korean_Calligraphy.woff?) format('woff'),
       url(/fonts/Korean_Calligraphy.ttf) format('truetype');
}

body {
  font: 16px/1.3em 'Helvetica neue', 'Helvetica', 'Arial', sans-serif;
  background-image: url(/img/bg.jpg);
  background-size: 250px;
  color: #3d3938;
  text-shadow: 0px 0px 1px #f4f0e9;
  margin: 0;
}
.container {
  margin: 8px 0;
}
/*

  Header

*/
  .header {
    position: relative;
    padding-bottom: 76px; /* allow for absolutely positioned mountain */
  }
  .header a {
    display: block;
    overflow: hidden;
    text-decoration: none;
  }
  .header__text {
    line-height: 1;
    font-size: 3em;
    margin: 0.5em 0 0 2.5em;
    font-family: 'korean', serif;
    font-weight: normal;
    color: #3D3938;
  }
  .header__text > * {
    font-size: 1em;
  }
  .header__logo {
    float: left;
    display: block;
    margin-left: 1em;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    background: url('/img/hatchet.svg') no-repeat center;
    background-size: 100%;
    -webkit-transition: .3s background-color ease;
       -moz-transition: .3s background-color ease;
        -ms-transition: .3s background-color ease;
         -o-transition: .3s background-color ease;
            transition: .3s background-color ease;
    z-index: 1;
  }
  .header__logo--green {
    background-color: lawngreen;
  }
  .header__logo--yellow {
    background-color: gold;
  }
  .header__logo--red {
    background-color: brown;
  }

/*

  Footer

*/
  .footer {
    text-align: center;
    position: relative;
    background-image: url(/img/bg.jpg);
    background-size: 250px;
  }

/*
  Panel layouts
*/

.lobby {
  margin: 0 0 0 8px;
  position: relative;
}
.votePanel {
  padding: 0 8px;
  position: relative;
}
.cardPanel {
  overflow: hidden;
  background-color: rgba(0,0,0,0.1);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0 8px;
}

/*

  Cards

*/
  .cards {
    overflow: hidden;
  }
    .cards .card {
      margin-bottom: 0.5em;
      margin-right: 0.5em;
      float: left;
    }
  .card {
    display: inline-block;
    width: 2em;
    height: 3em;
    margin: 0;
    box-shadow: inset 0px 0px 3px rgba(15, 14, 12, 1);
    position: relative;
    -webkit-border-radius: 0.2em;
            border-radius: 0.2em;
    
    color: #25201c;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 0px 1px 2px #d7d6d4;
    line-height: 3em;

    background-color: rgba(224, 217, 207, 1);
  }
    .card--2-sided {
      box-shadow: none;
      background-color: transparent;
    }
    .card--selected {
      background-color: gold;
    }
    .card--disabled {
      opacity: 0.5;
    }
    .card--placeholder {
      background-color: rgba(224, 217, 207, 0.1);
      box-shadow: inset 0px 0px 3px rgba(15, 14, 12, 0.7);
    }

      .card--2-sided > * {
        position: absolute;
        display: inline-block;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(178, 174, 161, 1);
        box-shadow: inset 0px 0px 3px rgba(15, 14, 12, 1);
        -webkit-border-radius: 0.2em;
                border-radius: 0.2em;
        -webkit-transform-style: preserve-3d;
           -moz-transform-style: preserve-3d;
            -ms-transform-style: preserve-3d;
                transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
           -moz-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
                backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
           -moz-transition: all .4s ease-in-out;
            -ms-transition: all .4s ease-in-out;
                transition: all .4s ease-in-out;
        -webkit-transform-style: preserve-3d;
           -moz-transform-style: preserve-3d;
            -ms-transform-style: preserve-3d;
                transform-style: preserve-3d;
      }
        .card--2-sided.card--selected {
          background-color: transparent;
        }
        .card--2-sided > .card--selected,
        .card--2-sided.card--selected > * {
          background-color: gold;
        }
        .card--2-sided > .card--disabled,
        .card--2-sided.card--disabled {
          opacity: 1;
        }
        .card--2-sided.card--disabled > * {
          opacity: 0.5;
        }
      .card--side-1 { z-index: 2; }
      .card--side-2 { z-index: 1; }

      /* Step 1: by default, the second side is reversed */
      .csstransforms3d .card--side-2{
        -webkit-transform: rotateY(-180deg);
           -moz-transform: rotateY(-180deg);
            -ms-transform: rotateY(-180deg);
                transform: rotateY(-180deg);
      }
      /* Step 2: adding .flipped to a parent triggers animation */
      .csstransforms3d .flipped .card--side-1 {
        -webkit-transform: rotateY(-180deg);
           -moz-transform: rotateY(-180deg);
            -ms-transform: rotateY(-180deg);
                transform: rotateY(-180deg);
      }
      .csstransforms3d .flipped .card--side-2 {
        -webkit-transform: rotateX(0deg) rotateY(0deg);
           -moz-transform: rotateX(0deg) rotateY(0deg);
            -ms-transform: rotateX(0deg) rotateY(0deg);
                transform: rotateX(0deg) rotateY(0deg);
      }

      /* Step 2b: adding .flipped-stagger to a parent triggers staggered animation */
      .csstransforms3d .flipped-stagger .card--side-1 {
        -webkit-transform: rotateY(180deg);
           -moz-transform: rotateY(180deg);
            -ms-transform: rotateY(180deg);
                transform: rotateY(180deg);
      }
      .csstransforms3d .flipped-stagger .card--side-2 {
        -webkit-transform: rotateX(0deg) rotateY(0deg);
           -moz-transform: rotateX(0deg) rotateY(0deg);
            -ms-transform: rotateX(0deg) rotateY(0deg);
                transform: rotateX(0deg) rotateY(0deg);
      }
      .csstransforms3d .flipped-stagger .card:nth-child(1) > * {
        -webkit-transition-delay: 0.1s;
           -moz-transition-delay: 0.1s;
            -ms-transition-delay: 0.1s;
                transition-delay: 0.1s;
      }
      .csstransforms3d .flipped-stagger .card:nth-child(2) > * {
        -webkit-transition-delay: 0.2s;
           -moz-transition-delay: 0.2s;
            -ms-transition-delay: 0.2s;
                transition-delay: 0.2s;
      }
      .csstransforms3d .flipped-stagger .card:nth-child(3) > * {
        -webkit-transition-delay: 0.3s;
           -moz-transition-delay: 0.3s;
            -ms-transition-delay: 0.3s;
                transition-delay: 0.3s;
      }
      .csstransforms3d .flipped-stagger .card:nth-child(4) > * {
        -webkit-transition-delay: 0.4s;
           -moz-transition-delay: 0.4s;
            -ms-transition-delay: 0.4s;
                transition-delay: 0.4s;
      }
      .csstransforms3d .flipped-stagger .card:nth-child(5) > *{
        -webkit-transition-delay: 0.5s;
           -moz-transition-delay: 0.5s;
            -ms-transition-delay: 0.5s;
                transition-delay: 0.5s;
      }
      .csstransforms3d .flipped-stagger .card:nth-child(6) > *{
        -webkit-transition-delay: 0.6s;
           -moz-transition-delay: 0.6s;
            -ms-transition-delay: 0.6s;
                transition-delay: 0.6s;
      }
      .csstransforms3d .flipped-stagger .card:nth-child(7) > *{
        -webkit-transition-delay: 0.7s;
           -moz-transition-delay: 0.7s;
            -ms-transition-delay: 0.7s;
                transition-delay: 0.7s;
      }
      .csstransforms3d .flipped-stagger .card:nth-child(8) > *{
        -webkit-transition-delay: 0.8s;
           -moz-transition-delay: 0.8s;
            -ms-transition-delay: 0.8s;
                transition-delay: 0.8s;
      }
      .csstransforms3d .flipped-stagger .card > *{
        -webkit-transition-delay: 1s;
           -moz-transition-delay: 1s;
            -ms-transition-delay: 1s;
                transition-delay: 1s;
      }
/* 
  Buttons 
*/
.btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 20px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: rgb(224, 217, 207);
  background-image: -moz-linear-gradient(top, rgb(224, 217, 207), rgb(216, 208, 197));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(224, 217, 207)), to(rgb(216, 208, 197)));
  background-image: -webkit-linear-gradient(top, rgb(224, 217, 207), rgb(216, 208, 197));
  background-image: -o-linear-gradient(top, rgb(224, 217, 207), rgb(216, 208, 197));
  background-image: linear-gradient(to bottom, rgb(224, 217, 207), rgb(216, 208, 197));
  background-repeat: repeat-x;
  border: 1px solid #BBB;
  border-color: rgba(224, 217, 207, 1) rgba(224, 217, 207, 1) #BFBFBF;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #A2A2A2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn:hover,
.btn:focus {
  background-color: rgb(216, 208, 197);
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}
.icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 2px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("/img/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
.icon-refresh {
  background-position: -240px -24px;
}
.icon-exclamation-sign {
  background-position: 0 -120px;
}



/*
  Alerts
*/
.alert {
  display: none;
}

/*

  Surgical classes

*/
  .no-js-hide {
    display: none;
  }

/*
  Decorators
*/

.bg-mount {
  display: block;
  background: url(/img/bg-mount.png) no-repeat -100px bottom;
  position: absolute;
  width: 100%;
  height: 135px;
  top: 65px;
  left: 0px;
}
.bg-tree {
  display: block;
  background: url(/img/bg-tree.png) no-repeat right top;
  position: absolute;
  width: 320px;
  height: 200px;
  bottom: 33px;
  right: 0;
  z-index: 2;
}
