.hm-logo {
  margin-left: 0;
}
/*

  Cards

*/
.cards .card {
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}
.card {
  display: inline-block;
  width: 2.66em;
  height: 4em;
  font-size: 1.5em;
  text-align: center;
  line-height: 4em;
  cursor: pointer;
}
.card--2-sided {
  float: left;
}
.card--selected {
  background-color: gold;
}
.card--selected:hover,
.card--selected:focus {
  background-color: gold;
}
.card--2-sided > * {
  position: absolute;
  display: inline-block;
  width: 100%;
  top: 0;
  left: 0;
}
  .card--2-sided.card--selected {
    background-color: transparent;
    background-image: none;
  }
  .card--2-sided > .card--selected,
  .card--2-sided.card--selected > * {
    background-color: gold;
  }
.vote.card { cursor: default; }
.vote.card--selected { cursor: pointer; }

.flipped-stagger .card--side-1 {
  display: none;
}


/*

  Dropdown

*/
.dropdown-wrapper {
  position: relative;
}
.dropdown-wrapper .dropdown {
  position: absolute;
  display: none;
  top: 98%;
  left: 0;
  right: 0;
  background: #fff;
  pointer-events: none;
  margin: 0;
  padding: 0;
  z-index: 3;
}
.dropdown-wrapper.active .dropdown {
  display: block;
  pointer-events: auto;
}

.dropdown li {
  list-style-type: none;
}
.dropdown .dropdown__item {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
}

/*

  Alerts

*/
.alert {
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
}
@media screen and (min-width: 55em) {
  .alert {
    position: absolute;
  }
}
.alert .activity {
  width: 1em;
  height: 1em;
  background: url(/img/led.gif);
  text-indent: 100%;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  margin-right: 0.2em;
  float: right;
  text-align: right;
  -webkit-border-radius: 0.5em;
      -moz-border-radius: 0.5em;
          border-radius: 0.5em;
}
.socketMessage,
.appError,
.message {
  padding: 0 2em 0 0.5em;
  line-height: 1.5em;
}
.message {
  background-color: rgb(255, 255, 111);
  background-color: rgba(255, 255, 111, 0.4);
  color: rgb(129, 129, 15);
}
.socketMessage {
  background-color: rgba(0, 255, 255, 0.2);
}
.appError {
  background-color: rgba(255, 0, 0, 0.3);
  color: rgb(102, 43, 43);
  text-shadow: none;
}
/*

  Surgical classes

*/
.no-js-hide {
  display: none;
}

.pullright {
  float: right;
}
