<section id="lobby">
  <h3>Rooms for distributed <i>planning poker</i> to estimate agile projects.</h3>
  <p>First person to <strong>create</strong> the room is the moderator. <strong>Share</strong> the url or room number with other team members to <strong>join</strong> the room.</p>
  <button ng-click="createRoom()" id="creator" class="btn" title="Create a new planning poker room">Create new room</button>
  <div>
    <label>Or enter existing room</label> <div class="input-prepend"><span class="add-on">/</span><input ng-model="room" ui-enter="enterRoom(room)" type="tel" autofocus="true" maxlength="5" placeholder="room no" class="roomUrl" />&nbsp;<button ng-click="enterRoom(room)" class="btn" title="Join an existing planning poker room">Join</button></div>
  </div>
</section>
