<div class="lobby">
  <h3 class="subheading">Distributed scrum <span>planning poker</span> for estimating agile projects.</h3>
  <p>First person to <strong>create</strong> the room is the moderator. <strong>Share</strong> the url or room number with other team members to <strong>join</strong> the room.</p>

  <div class="row">
    <label class="span1 subheading" for="roomfield">Enter room number</label>
  </div>
  <div class="row">
    <input ng-model="room" ui-enter="enterRoom(room)" name="roomfield" id="roomfield" type="tel" maxlength="5" placeholder="room no" class="span2 roomUrl" />
    <button ng-click="enterRoom(room)" class="span2 btn" title="Join an existing planning poker room" ng-disabled="{{disableButtons}}">Join room</button>
  </div>
  <label for="">or</label>
  <div class="row">
    <button ng-click="createRoom()" class="span1 btn" title="Create a new planning poker room" ng-disabled="{{disableButtons}}">Create new room</button>
  </div>


</div>
