<div class="wrapper" ng-init="configureRoom()">
  <div id="appError" class="alert alert-error" ui-show="errorMessage">{{errorMessage}}</div>
  <div id="message" class="alert alert-info" ui-show="message">{{message}}</div>

  <section id="cardPanel" role="navigation">
    <div ng-show="voter">
      <p>Please choose your estimation:</p>
      <ul class="cards">
        <li ng-repeat="card in cards" ng-click="vote(card)" class="card mine-{{card==myVote}}">
          <div>{{card}}</div>
        </li>
      </ul>
    </div>
    <div ng-hide="voter">
      <p>You have chosen to simply observe this session. Enjoy!</p>
    </div>
    <span class="vote-item"><a href="#menu" class="vote-button">Vote</a></span>
  </section>

  <section id="votePanel" role="main">
    <h1>Votes</h1>
    <h2>Room: /{{roomId}}</h2>
    <p>Human count: {{humanCount}}</p>
    <p>Voter count: <span class="label">{{voterCount}}</span></p>
    <ul class="cards">
      <li ng-repeat="vote in votes" ng-click="unvote(vote.sessionId)" class="card mine-{{vote.sessionId==sessionId}}">
        <div ng-show="votes.length == voterCount">{{vote.vote}}</div>
        <div ng-show="votes.length < voterCount">x</div>
      </li>
    </ul>
  </section>

  <section id="adminPanel" ng-switch on="showAdmin" role="complementary">
    <h1>Settings</h1>
    <div ng-switch-when="true">
      <label>Choose card pack:</label>
      <select ng-model="cardPack" ng-change="setCardPack(cardPack)">
        <option value="fib">Fibonacci</option>
        <option value="seq">Sequential</option>
        <option value="tshirt">T-shirt</option>
      </select>
      <button ng-click="resetVote()" class="btn">Reset the vote</button>
    </div>
    <p>Voter: <input type="checkbox" ng-model="voter" ng-change="toggleVoter()" /></p>
    <span class="vote-item"><a href="#extra" class="sidebar-button">Settings</a></span>
  </section>

</div>
  <script>
    var showVotePanel = function() {
      $('body').removeClass("active-settings").toggleClass("active-vote");
    }

    var showSettings = function() {
      $('body').removeClass("active-vote").toggleClass("active-settings");
    }

    var resizer = function () {
      var size = window.getComputedStyle(document.body,':after').getPropertyValue('content');
      if (size == 'widescreen') {
        $("body").removeClass().addClass("three-column");
      } else if (size == 'narrow'){
        $("body").removeClass().addClass("narrow-screen");
      } else {
        $("body").removeClass().addClass("small-screen");
      }
    }

    // add/remove classes everytime the window resize event fires
    $(window).resize(function() { resizer(); }); 

    $(document).ready(function(){
      resizer();
      $('html').removeClass('no-js').addClass('js');

      // Toggle for nav menu
      $('.vote-button').click(function() {
        showVotePanel();
        return false;
      }); 
      // Toggle for sidebar
      $('.sidebar-button').click(function() {
        showSettings();
        return false;
      });

    });
  </script>
