<div ng-init="configureRoom()">
  <div id="commsError" class="alert alert-error" ui-show="errorMessage">{{errorMessage}}</div>

  <h2>Room: {{roomId}}</h2>
  <p>Player count: {{playerCount}}</p>

  <div ng-switch on="showAdmin">
    <div ng-switch-when="true">
      <div id="adminPanel">
        Choose card pack:
        <select ng-model="cardPack" ng-change="setCardPack(cardPack)">
          <option value="fib">Fibonacci</option>
          <option value="seq">Sequential</option>
        </select>
      </div>
    </div>
  </div>

  <ul>
    <li ng-repeat="card in cards">
      {{card}}
    </li>
  </ul>
</div>