<!doctype html >
<html xmlns:ng="http://angularjs.org" lang="en" ng-app="pokerApp">
<head>
  <!--[if lte IE 8]>
    <script>
      document.createElement('ng-include');
      document.createElement('ng-pluralize');
      document.createElement('ng-view');
      
      // Optionally these for CSS
      document.createElement('ng:include');
      document.createElement('ng:pluralize');
      document.createElement('ng:view');
    </script>
  <![endif]-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>HATCHET</title>
  <link rel="stylesheet" href="css/<%= assetsCacheHashes.css || 0 %>.css">
  <link rel="apple-touch-icon" href="img/apple-touch-icon.png" />
  <link rel="apple-touch-startup-image" href="img/apple-touch-startup-image.png" media="(device-width: 320px)" />
  <link rel="apple-touch-startup-image" href="img/apple-touch-startup-image-768x1004.png" media="(device-width: 768px) and (orientation: portrait)" />
  <link rel="apple-touch-startup-image" href="img/apple-touch-startup-image-1024x748.png" media="(device-width: 768px) and (orientation: landscape)" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
</head>
<body class="no-js">
  <div class="container">
    <header id="header">
      <h1><a href="/" title="Home">HATCHET</a></h1>
    </header>
    <noscript>
      <p>This site is <em>heavily</em> dependant upon JavaScript. If you don't have it enabled, you're not going to have a Good Time.</p>
    </noscript>

    <div id="activity" ng-show="activity"></div>
    <div id="socketMessage" class="alert alert-socket" ui-show="socketMessage">{{socketMessage}}</div>

    <div id="content" ng-view></div>

    <footer role="contentInfo">
      <p>&copy; <a href="http://www.unboxedconsulting.com" title="Ruby on Rails, node, and iOS development in Cape Town">UBXD</a> 2012 - Built by <a href="mailto:joerg.diekmann@ubxd.com" title="Software developer in Cape Town">@Jörg</a> &amp; <a href="mailto:richard.archer@ubxd.com" title="Software developer in Cape Town">@Rïch</a>.</p>
    </footer>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="js/<%= assetsCacheHashes.js || 0 %>.js"></script>
</body>
</html>
