<!doctype html >
<html xmlns:ng="http://angularjs.org" lang="en" ng-app="pokerApp">
<head>
  <!--[if lte IE 8]>
    <script>
      document.createElement('ng-include');
      document.createElement('ng-pluralize');
      document.createElement('ng-view');
      
      // Optionally these for CSS
      document.createElement('ng:include');
      document.createElement('ng:pluralize');
      document.createElement('ng:view');
    </script>
  <![endif]-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>Hatchet :: Online Scrum Planning Poker for Agile Projects</title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/app.css" />

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon.png" />

  <link rel="apple-touch-startup-image" href="/img/apple-touch-startup-image.png" media="(device-width: 320px)" />
  <link rel="apple-touch-startup-image" href="/img/apple-touch-startup-image-768x1004.png" media="(device-width: 768px) and (orientation: portrait)" />
  <link rel="apple-touch-startup-image" href="/img/apple-touch-startup-image-748x1024.png" media="(device-width: 768px) and (orientation: landscape)" />
  <meta name="apple-mobile-web-app-capable" content="yes" />


  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-55600-15']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body class="no-js">
  <div class="container" ng-controller="MainCtrl">
    <header id="header">
      <a href="/" title="Back to the Lobby">
        <span class="logo {{logoState}}"></span>
        <h1>Hatchet</h1>
      </a>
    </header>
    <noscript>
      <p>This site is <em>heavily</em> dependant upon JavaScript. If you don't have it enabled, you're not going to have a Good Time.</p>
    </noscript>

    <div id="activity" ng-show="activity"></div>
    <div id="socketMessage" class="notification" ui-show="socketMessage">{{socketMessage}}</div>
    <div id="appError" class="notification" ui-show="errorMessage">{{errorMessage}}</div>
    <div id="message" class="notification" ui-show="message">{{message}}</div>

    <div id="content" ng-view></div>

    <footer role="contentInfo">
      <p>&copy; <a href="http://www.unboxedconsulting.com" title="Ruby on Rails, node, and iOS development in Cape Town">UBXD</a> 2012 - Built by <a href="mailto:joerg.diekmann@ubxd.com" title="Software developer in Cape Town">@Jörg</a> &amp; <a href="mailto:richard.archer@ubxd.com" title="Software developer in Cape Town">@Rïch</a>.</p>
    </footer>
  </div>

  <!-- script src="/socket.io/socket.io.js"></script-->
  <script src="https://s3.amazonaws.com/hatchetapp/socket-0.9.6.io.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

  <%- CDN([ '/lib/jquery.cookie/jquery.cookie.js', '/lib/underscore.min.js', '/lib/modernizr-custom.min.js', '/lib/angular/angular.min.js', '/lib/modernizr-custom.min.js' ]) %>
  <%- CDN([ '/js/app.js', '/js/controllers.js', '/js/directives.js', '/js/filters.js', '/js/services.js' ]) %>

</body>

<script>
  var resizer = function () {
    var size = window.getComputedStyle(document.body,':after').getPropertyValue('content');
    if (size == 'widescreen') {
      $("body").removeClass().addClass("three-column");
    } else if (size == 'narrow'){
      $("body").removeClass().addClass("narrow-screen");
    } else {
      $('body').removeClass();
    }
  }

  // add/remove classes everytime the window resize event fires
  $(window).resize(function() { resizer(); }); 

  $(document).ready(function(){
    resizer();
  });
</script>

</html>
