<!doctype html >
<html xmlns:ng="http://angularjs.org" lang="en" ng-app="pokerApp">
<head>
  <!--[if lte IE 8]>
    <script>
      document.createElement('ng-include');
      document.createElement('ng-pluralize');
      document.createElement('ng-view');

      // Optionally these for CSS
      document.createElement('ng:include');
      document.createElement('ng:pluralize');
      document.createElement('ng:view');
    </script>
  <![endif]-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="/img/hmpoker_card_icon.png">

  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Planning Poker by HumanMade Ltd" />
  <meta property="og:description" content="Distributed scrum planning poker for estimating agile projects." />
  <meta property="og:image" content="https://planningpoker.hmn.md/img/og-image.png" />
  <meta property="og:url" content="https://planningpoker.hmn.md/" />
  <meta property="article:publisher" content="https://www.facebook.com/humanmadeltd">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@humanmadeltd">
  <meta name="twitter:site" content="@humanmadeltd">
  <meta name="twitter:image" content="https://planningpoker.hmn.md/img/og-image.png" />

  <title>HM Planning Poker</title>
  <link rel="stylesheet" href="/juniper/styles/style-guide.css" />
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <div class="container">
    <div class="body bg{{bodyState}}" ng-controller="MainCtrl">
      <div class="container">
        <header class="header">
          <h1 class="hm-logo hm-logo--small hm-logo--red">Human Made Limited</h1>
          <a href="/" title="Back to the Lobby">
            <span class="header__logo{{logoState}}"></span>
            <h1 class="header__text">Planning Poker</h1>
          </a>
          <noscript>
            <p>This site is <em>heavily</em> dependant upon JavaScript. If you don't have it enabled, you're not going to have a Good Time.</p>
          </noscript>
        </header>

        <div class="alert">
          <div class="activity" ng-show="activity"><span class="loading--red loading--active"></span></div>
          <div class="socketMessage" class="notification" ng-show="socketMessage" ng-bind="socketMessage"></div>
          <div class="appError" class="notification" ng-show="errorMessage" ng-bind="errorMessage"></div>
          <div class="message" class="notification" ng-show="message" ng-bind="message"></div>
        </div>

        <div class="content" ng-view></div>

        <div class="footer">
          <p><span class="hm-logo hm-logo--tiny"></span><a href="https://hmn.md">Made by Humans</a>, forked from <a href="https://hatjitsu.herokuapp.com/">Hatjitsu</a>, <a href="https://github.com/humanmade/Hatjitsu" target="_blank">view source</a>, <a href="https://github.com/humanmade/Hatjitsu/issues" target="_blank">having issues?</a>.</p>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular-route.min.js"></script>
  <script src="/lib/underscore.min.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/controllers.js"></script>
  <script src="/js/directives.js"></script>
  <script src="/js/filters.js"></script>
  <script src="/js/services.js"></script>
  <script src="/juniper/js/juniper.min.js"></script>

</body>

</html>
