<!doctype html >
<html xmlns:ng="http://angularjs.org" lang="en" ng-app="pokerApp">
<head>
  <!--[if lte IE 8]>
    <script>
      document.createElement('ng-include');
      document.createElement('ng-pluralize');
      document.createElement('ng-view');
      
      // Optionally these for CSS
      document.createElement('ng:include');
      document.createElement('ng:pluralize');
      document.createElement('ng:view');
    </script>
  <![endif]-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Hatjitsu :: Online Scrum Planning Poker for Agile Projects</title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

  <link rel="stylesheet" href="/css/app.css">

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon.png" />

  <link rel="apple-touch-startup-image" href="/img/apple-touch-startup-image.png" media="(device-width: 320px)" />
  <link rel="apple-touch-startup-image" href="/img/apple-touch-startup-image-768x1004.png" media="(device-width: 768px) and (orientation: portrait)" />
  <link rel="apple-touch-startup-image" href="/img/apple-touch-startup-image-748x1024.png" media="(device-width: 768px) and (orientation: landscape)" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <%- CDN([ '/lib/modernizr.custom.31033.js', '/js/testing.js' ]) %>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-55600-15']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <div class="container" ng-controller="MainCtrl">
    <header class="header">
      <a href="/" title="Back to the Lobby">
        <span class="header__logo {{logoState}}"></span>
        <h1 class="header__text">Hatjitsu</h1>
      </a>
      <noscript>
        <p>This site is <em>heavily</em> dependant upon JavaScript. If you don't have it enabled, you're not going to have a Good Time.</p>
      </noscript>
      <div class="bg-mount"></div>
    </header>

    <div class="alert activity" ng-show="activity"></div>
    <div class="alert socketMessage" class="notification" ui-show="socketMessage">{{socketMessage}}</div>
    <div class="alert appError" class="notification" ui-show="errorMessage">{{errorMessage}}</div>
    <div class="alert message" class="notification" ui-show="message">{{message}}</div>

    <div class="content" ng-view></div>

    <footer class="footer">

      <p>&copy; <a href="http://www.ubxd.com" title="Ruby on Rails, node, and iOS development in Cape Town">UBXD</a> 2012 - Built by <a href="mailto:joerg.diekmann@ubxd.com" title="Software developer in Cape Town">@Jörg</a> &amp; <a href="mailto:richard.archer@ubxd.com" title="Software developer in Cape Town">@Rïch</a>. <strong><a href="https://twitter.com/hatjitsu" title="Feedback to us via Twitter">Feedback?</a></strong></p>

    </footer>
  </div>


  <script src="https://s3.amazonaws.com/hatchetapp/socket-0.9.6.io.min.js"></script>
  <%- CDN([ '/lib/underscore.min.js', '/lib/jquery-1.8.2.min.js', '/lib/jquery.cookie.js' ]) %>
  <%- CDN([ '/lib/angular/angular.min.js', '/js/app.js', '/js/controllers.js', '/js/directives.js', '/js/filters.js', '/js/services.js']) %>

</body>

</html>
