<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Hat.jit.su style guide</title>
  <link rel="stylesheet" href="/css/sg.css">
  <link rel="stylesheet" href="/css/app.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/lib/jquery-1.8.2.min.js"><\/script>')</script>
</head>
<body class="body">
  <div class="container">
    <h1>Hat.jit.su styleguide: a cut-out-and-keep reference for all the family</h1>
    <hr>
    <section>
      <h2>Header/Logo</h2>
      <p>First thing's first; the header. The glorious introduction to the majesterial wonder that is Hat.Jit.Su. Here's an example of it in action;</p>
      <header class="header">
        <a href="/" title="Back to the Lobby">
          <span class="header__logo"></span>
          <h1 class="header__text">Hatjitsu</h1>
        </a>
        <div class="bg-mount"></div>
      </header>
      <p>Pretty awesome, hey? Have a look at the source code to see how that was done. We've used <code>header</code> tags and such, but that's not that important. </p>
      <p>Neither's the <code>a</code> wrapped around it. That's purely optional; if you only want the logo and the header without a link, just take it out.</p>
      <header class="header">
        <span class="header__logo"></span>
        <h1 class="header__text">Hatjitsu</h1>
      </header>
      <p>Actually, it's pretty much the same deal with the logo. Just remove the <code>.header__text</code>.</p>
      <div class="header">
        <span class="header__logo"></span>
      </div>
      <p>Just remember to put wrap it in a container classed with <code>.header</code>.</p>
      <p>With the <code>.header__text</code> class, you can add multiple elements, allowing for multiline headings:</p>
      <div class="header">
        <div class="header__logo"></div>
        <div class="header__text">
          <h1>hatjitsu</h1>
        </div>
      </div>
      <p>It's also possible to change the colour of the logo dependant upon a status, simply add a second class of <code>.header__logo--[colour]</code> to the existing <code>.header__logo</code> element.</p>
      <div class="header">
        <span class="header__logo header__logo--green"></span>
        <span class="header__logo header__logo--yellow"></span>
        <span class="header__logo header__logo--red"></span>
      </div>
    </section>
    <hr>
    <section>
      <h2>Footer</h2>
      <p>The footer of the page is a fairly simple center alignment issue. Just add in the <code>.footer</code> class and let the typographical styles do the rest.</p>
      <div class="footer">&copy; 2012 - Built by <a href="#">Herp</a> &amp; <a href="#">Derp</a>.</div>
    </section>
    <hr>
    <section>
      <h2>Cards</h2>
      <h3>1 sided cards</h3>
      <p>Cards are obviously central to this app, and form a large part of the look. They all follow a fairly standard markup pattern.</p>
      <span class="card">1</span>
      <p>Each card item is tagged with <code>.card</code>.</p>
      <p>If there are multiple cards, the parent wrapper is tagged with <code>.cards</code>.</p>
      <div class="cards">
        <span class="card">1</span>
        <span class="card">2</span>
        <span class="card">3</span>
        <span class="card">4</span>
        <span class="card">5</span>
        <span class="card">6</span>
      </div>
      <p>If a card is selected or active, add a class of <code>.card--selected</code> to the <code>.card</code> element in question.</p>
      <p>Conversely, <code>.card--disabled</code> will mark it as disabled.</p>
      <p>Finally, <code>.card--placeholder</code> is used to visually represent where a card will be placed.</p>
      <p>These 3 classes can be mixed and matched as needed.</p>

      <div class="cards">
        <span class="card">1</span>
        <span class="card card--selected">2</span>
        <span class="card card--disabled">3</span>
        <span class="card card--disabled card--selected">4</span>
        <span class="card card--placeholder">∅</span>
        <span class="card card--placeholder card--disabled">∅</span>
      </div>
      <h3>2 sided cards</h3>
      <p>2-sided cards are available to those with fancy JavaScriptin' and CSS3 3D-Transforms on their calculatin' machines. The basic markup is a little more involved, but should make sense:</p>
      <div id="toggleFlippee01" class="cards">
        <span class="card card--2-sided">
          <span class="card--side-1">F</span>
          <span class="card--side-2">B</span>
        </span>
        <span class="card card--2-sided">
          <span class="card--side-1">O</span>
          <span class="card--side-2">A</span>
        </span>
        <span class="card card--2-sided">
          <span class="card--side-1">O</span>
          <span class="card--side-2">R</span>
        </span>
      </div>
      <button id="toggleFlipper01">Toggle flip</button>
      <p>..and adding <code>.card--selected</code> or <code>.code-disabled</code> will still perform as before.</p>
      <div id="toggleFlippee02" class="cards">
        <span class="card card--2-sided">
          <span class="card--side-1">R</span>
          <span class="card--side-2">L</span>
        </span>
        <span class="card card--2-sided card--selected">
          <span class="card--side-1">O</span>
          <span class="card--side-2">M</span>
        </span>
        <span class="card card--2-sided card--disabled">
          <span class="card--side-1">F</span>
          <span class="card--side-2">A</span>
        </span>
        <span class="card card--2-sided card--selected card--disabled">
          <span class="card--side-1">L</span>
          <span class="card--side-2">O</span>
        </span>
        <span class="card card--placeholder">♠</span>
        
      </div>
      <button id="toggleFlipper02">Toggle flip</button>
      <p>or selected only on one side...</p>
      <div id="toggleFlippee03" class="cards">
        <span class="card card--2-sided">
          <span class="card--side-1 card--selected">W</span>
          <span class="card--side-2 card--disabled">L</span>
        </span>
        <span class="card card--2-sided">
          <span class="card--side-1 card--disabled">T</span>
          <span class="card--side-2 card--selected">O</span>
        </span>
        <span class="card card--2-sided">
          <span class="card--side-1 card--selected">F</span>
          <span class="card--side-2 card--disabled">L</span>
        </span>
      </div>
      <button id="toggleFlipper03">Toggle flip</button>
      <p>Or toggle an individual card, simple add <code>.flipped</code> to the <code>.card</code> in question...</p>
      <div class="cards">
        <span class="card card--2-sided">
          <span class="card--side-1">1</span>
          <span class="card--side-2">1</span>
        </span>
        <span id="toggleFlippee04" class="card card--2-sided">
          <span class="card--side-1">2</span>
          <span class="card--side-2 card--selected">2</span>
        </span>
        <span class="card card--2-sided">
          <span class="card--side-1">3</span>
          <span class="card--side-2">3</span>
        </span>
      </div>
      <button id="toggleFlipper04">Flip only card 2</button>
      <p>Or to stagger the animation of cards, simply add <code>.flipped-stagger</code> to <code>.cards</code>... ( note staggering only works up to a maximum of 8 votes, any more will be flipped at the same time)</p>
      <div  id="toggleFlippee05" class="cards">
        <span class="card card--2-sided">
          <span class="card--side-1">1</span>
          <span class="card--side-2 card--selected">1</span>
        </span>
        <span class="card card--2-sided">
          <span class="card--side-1">2</span>
          <span class="card--side-2 card--selected">2</span>
        </span>
        <span class="card card--2-sided">
          <span class="card--side-1">3</span>
          <span class="card--side-2 card--selected">3</span>
        </span>
        <span class="card card--2-sided">
          <span class="card--side-1">4</span>
          <span class="card--side-2 card--selected">4</span>
        </span>
        <span class="card card--2-sided">
          <span class="card--side-1">5</span>
          <span class="card--side-2 card--selected">5</span>
        </span>
        <span class="card card--2-sided">
          <span class="card--side-1">6</span>
          <span class="card--side-2 card--selected">6</span>
        </span>
        <span class="card card--2-sided">
          <span class="card--side-1">7</span>
          <span class="card--side-2 card--selected">7</span>
        </span>
        <span class="card card--2-sided">
          <span class="card--side-1">8</span>
          <span class="card--side-2 card--selected">8</span>
        </span>
        <span class="card card--2-sided">
          <span class="card--side-1">9</span>
          <span class="card--side-2 card--selected">9</span>
        </span>
        <span class="card card--2-sided">
          <span class="card--side-1">10</span>
          <span class="card--side-2 card--selected">10</span>
        </span>
        <span class="card card--2-sided">
          <span class="card--side-1">11</span>
          <span class="card--side-2 card--selected">11</span>
        </span>
        <span class="card card--2-sided">
          <span class="card--side-1">12</span>
          <span class="card--side-2 card--selected">12</span>
        </span>
        <span class="card card--2-sided">
          <span class="card--side-1">13</span>
          <span class="card--side-2 card--selected">13</span>
        </span>
        <span class="card card--2-sided">
          <span class="card--side-1">14</span>
          <span class="card--side-2 card--selected">14</span>
        </span>
        <span class="card card--2-sided">
          <span class="card--side-1">15</span>
          <span class="card--side-2 card--selected">15</span>
        </span>
        <span class="card card--placeholder">♥</span>
        <span class="card card--2-sided">
          <span class="card--side-1">17</span>
          <span class="card--side-2 card--selected">16</span>
        </span>
      </div>
      <button id="toggleFlipper05">Stagger flip animation</button>
    </section>
    <hr>
    <section>
      <h1>Buttons</h1>
      <p>Basic setup: <code>button.btn</code> </p>
      <p>Use the <code>.icon</code> to assign a space, and then either <code>.icon-refresh</code> or <code>.icon-exclamation-sign</code> for the various icons to use.</p>
      <button class="btn">Vanilla Button</button>
      <button class="btn"><i class="icon icon-refresh"></i> Refresh </button>
      <button class="btn"><i class="icon icon-exclamation-sign"></i> Golly! </button>
      <h3>2-way toggle</h3>
      <p>Basic setup:</p>
      
    <div class="switch">
      <input type="checkbox">
      <label class="btn" data-on="ON" data-off="OFF">I am voting</label>
    </div>
    </section>
    <hr>
    <section>
      <h1>Radio buttons</h1>
      <p><abbr title="(To Be Completed)">TBC</abbr></p>
      <p>for choosing the deck</p>
    </section>
    <hr>
    <section>
      <h1>Typography</h1>
      <p><abbr title="(To Be Completed)">TBC</abbr></p>
    </section>
    <hr>
    <section>
      <h1><q>Concertina</q> section</h1>
      <p><abbr title="(To Be Completed)">TBC</abbr></p>
    </section>
    <hr>
    <section>
      <h1>Panels</h1>
      <h2>.cardPanel</h2>
      <p>The card panel typically contains all available vote combinations, and has a responsive breakpoint before viewport width of 28ems that centrally aligns the cards. Afterwards, the design will revert back to the left. Otherwise, it is also responsible for some simple styling.</p>
      <div class="cardPanel">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo et reprehenderit architecto eum delectus molestias ipsa corrupti perferendis aperiam suscipit repellat blanditiis rerum ea tempore doloribus provident quisquam impedit vel.
      </div>
    </section>
    <hr>
    <section>
      <h1>Surgical classes</h1>
      <div class="no-js-hide">
        <h2><code>.no-js-hide</code> </h2>
        <p>With JavaScript disabled, this section will not be visible at all. Think of it as an opposite to <code>&lt;noscript&gt;</code> Add a <code>.no-js-hide</code> class to those elements you want to remove.</p>
      </div>
    </section>
  </div>
  <script type="text/javascript" src="/lib/modernizr.custom.11646.js"></script>
  <script type="text/javascript" src="/js/general.js"></script>
  <script type="text/javascript" src="/js/sg.js"></script>
</body>
</html>